.modalLogin{
    width: 50vw;
    height: 80vh;
    margin: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 32px 0;
    border: none;
}

.modalHeader{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modalBody{
    display: flex;
    flex-direction: column;
width: 80%;

}
.modalBody label{
    margin: 5px 0;
    font-weight: bold;
}
.modalBody input{
    background: #ECE7E7;
    border-radius: 5px;
    border: none;
    margin:  5px 0;
}
.modalBody button{
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 8px 0;
    font-weight: bold;
    padding: 5px;
}
.modalBottom{
    display: flex;
    justify-content: center;
}
.modalBottom span{
    color:#007bff;
    margin: 0 5px;
}