@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.list-inline-item .btn-outline-info {
  color: #5a606b;
  border: 1px solid #5a606b;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: 500;
}
.list-inline-item .btn-outline-info:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.fa-arrow-alt-circle-right {
  color: #f4c10f;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.fa-arrow-alt-circle-right:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
